.skinMainJornada{
    max-width: 85%;
    margin: 10px  auto;
    container-type: inline-size;
    background-color: hsl(0, 0%, 100%);

}

.skinBodyJornada {
    background-color: hsl(0, 0%, 93%);
}

.carousel {
    margin: 0 auto;
    padding: 30px;
    opacity: 90%;
    border-radius: 5px;
    
    img {
        border-radius: 5px;
    }
}

@container (max-width: 700px) {
    .carousel {
      padding: 0;
    }
}

