@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  $font-family-national-park: "National Park", sans-serif;
  
$font-family-serif: "Georgia", "Times New Roman", serif;

/*Colores*/
$color-white: color(display-p3 1 0.71 0.87 / 0.9);

/*Personalizacion bootstrap variables*/
$card-color: #c00909d6;
$card-bg: $card-color;
